<% include partials/TopHeader.ejs %>

<% include partials/header.ejs %>
<style>
    #abc {
        width: 100%;
        height: 100%;
        opacity: .95;
        top: 0;
        left: 0;
        display: none;
        position: fixed;
        background-color: #313131;
        overflow: auto;
        align-content: center;
    }



    img #close {
        position: absolute;
        right: -14px;
        top: -14px;
        cursor: pointer
    }

    div#popupContact {
        position: absolute;
        left: 50%;
        top: 17%;
        margin-left: -202px;
        font-family: 'Raleway', sans-serif
    }



    p {
        margin-top: 30px
    }

    h2 {
        background-color: #FEFFED;
        padding: 20px 35px;
        margin: -10px -50px;
        text-align: center;
        border-radius: 10px 10px 0 0
    }

    hr {
        margin: 10px -50px;
        border: 0;
        border-top: 1px solid #ccc
    }

    span {
        color: red;
        font-weight: 700
    }

</style>

<!--Add Consultancy Details -->
<div class="span9">
    <div class="content">

        <div class="module">
            <div class="module-head">
                <h3>Country Detail Add</h3>
            </div>
            <div class="module-body">


                <form class="form-horizontal row-fluid" method="post"
                      action="/Admin/AdminConsultancy/AdminConsultancyAddData"
                      enctype="multipart/form-data">

                    <div class="control-group">
                        <label class="control-label"><b>Country Name</b></label>
                        <div class="controls">

                            <input type="text" name="country_name" id="country_name" placeholder="Type country name"
                                   class="span8" required>

                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"><b>Country Flag</b></label>
                        <div class="controls">
                            <input type="file" id="flag_image" name="flage_image" class="span8" required>
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label"><b>Requirenment</b></label>
                        <div class="controls">
                            <textarea class="span8" rows="5" name="requirenment" id="requirenment"
                                      placeholder="Enter requirenment" required></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b>Details</b></label>
                        <div class="controls">
                            <textarea class="span8" rows="5" name="detail" id="detail"
                                      placeholder="Enter detail" required></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b>Important Links</b></label>
                        <div class="controls">
                            <textarea class="span8" rows="5" name="important_link" id="important_link"
                                      placeholder="Enter important_link" required></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><b>Images</b></label>
                        <div class="controls">
                            <input type="file" id="images" name="images" class="span8" multiple required>
                        </div>
                    </div>


                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn " name="add_seed" id="add_seed">Submit Form</button>
                        </div>
                    </div>

                </form>
                <br/>
                <br/>
                <br/>
                <br/>

                <table cellpadding="0" cellspacing="0" border="0"
                       class="datatable-1 table table-bordered table-striped	 display" width="100%"
                       style="font-size:13px;">
                    <thead>
                    <tr>

                        <th>Delete</th>
                        <th>Update</th>
                        <th>Update Image</th>
                        <th>Flag</th>
                        <th>Country Name</th>
                        <th>Requirenment</th>
                        <th>Details</th>
                        <th>Important Links</th>


                    </tr>
                    </thead>
                    <tbody>

                    <% for(let i = 0; i < Consultancy.length; i++){ %>
                    <tr class="odd gradeX">
                        <td><a onclick="deleteConsultancy('<%= Consultancy[i]._id %>')"><img src="/images/delete.png"
                                                                                             style="height: 25px;width: 25px"/></a>
                        </td>


                        <!-- Display Popup Button -->


                        <td><a id="popup" onclick="div_show('<%= Consultancy[i]._id %>')"> <img src="/images/update.png"
                                                                                                id="myPopup"
                                                                                                style="height: 25px;width: 25px"/></a>
                        </td>
                        <form method="post" action="/Admin/AdminConsultancy/AdminConsultancyUpdateGetImages">
                        <td>
                            <input type="hidden" value="<%= Consultancy[i]._id %>" name="cid">
                            <button type="submit"><img
                                        src="/images/update.png"

                                        style="height: 25px;width: 25px"/></button>
                        </td>
                        </form>
                        <td><img height="75" width="75"
                                 src="/images/Consultancy_Flag/<%= Consultancy[i].flage_image %>"/></td>
                        <td><%= Consultancy[i].country_name %></td>
                        <td><%= Consultancy[i].requirenment %></td>
                        <td><%= Consultancy[i].detail %></td>
                        <td><%= Consultancy[i].important_link %></td>

                    </tr>
                    <% } %>

                    </tbody>
                    <tfoot>
                    <tr>

                        <th>Delete</th>
                        <th>Update</th>
                        <th>Update Image</th>
                        <th>Flag</th>
                        <th>Country Name</th>
                        <th>Requirenment</th>
                        <th>Details</th>
                        <th>Important Links</th>

                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>


        <br/>

    </div><!--/.content-->
</div><!--/.span9-->


<!--Update Consultancy Details  -->
<div id="body" style="overflow:hidden;align-items:center;">

    <div id="abc">
        <!-- Popup Div Starts Here -->
        <div id="popupContact">
            <!-- Contact Us Form -->

            <h1 style="
        background-color:#FEFFED;
        padding:20px 35px;
        margin:-10px -50px;
        text-align:center;
        border-radius:10px 10px 0 0;
        float: right">
                Update Consultancy Details
                <img id="close" src="/images/close.png" onclick="div_hide() " style="float: right;margin-left: 50px">
            </h1>
            <form class="form-horizontal row-fluid" method="post" enctype="multipart/form-data"
                  action="/Admin/AdminConsultancy/AdminConsultancyUpdateData" style="
                                                                                      max-width:100%;
                                                                                      min-width:100%;
                                                                                      padding:10px 50px;
                                                                                      border:2px solid gray;
                                                                                      border-radius:10px;
                                                                                      font-family:raleway;
                                                                                      background-color:#fff;

      ">
                <br/><br/><br/><br/>

                <div class="control-group">
                    <label class="control-label"><b>Country Name</b></label>
                    <div class="controls">
                        <textarea name="country_name" id="getResponsecountry_name" placeholder="Type country name"
                                  class="span8" style="resize: none"></textarea>
                        <textarea name="id" id="getResponseid" placeholder="Type country name"
                                  class="span8" style="resize: none;display: none"></textarea>


                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label"><b>Country Flag</b></label>
                    <div class="controls">
                        <input type="file" id="flage_image" name="flage_image" class="span8">
                        <pre id="ima" style="height:100%;width: 75px"></pre>
                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label"><b>Requirenment</b></label>
                    <div class="controls">
                        <textarea class="span8" rows="5" name="requirenment" id="getResponserequirenment"
                                  placeholder="Enter requirenment"></textarea>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label"><b>Details</b></label>
                    <div class="controls">
                        <textarea class="span8" rows="5" name="detail" id="getResponsedetail"
                                  placeholder="Enter detail"></textarea>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label"><b>Important Links</b></label>
                    <div class="controls">
                        <textarea class="span8" rows="5" name="important_link" id="getResponseimportant_link"
                                  placeholder="Enter important_link"></textarea>
                    </div>
                </div>


                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn" name="add_seed" id="add_seed">Submit Form</button>
                    </div>
                </div>

            </form>
        </div>
        <!-- Popup Div Ends Here -->
    </div>
</div>
<script>
    function deleteConsultancy(cid) {
        //console.log("de");
        if (confirm("Are you sure you want to delete customer ")) {
            $.ajax({
                type: 'POST',
                url: 'http://localhost:3000/Admin/AdminConsultancy/AdminConsultancyDeleteData',
                data: {"cid": cid},
                dataType: 'json',
                success: function (result) {
                    if (result) {
                        location.reload();

                    }
                }
            });
        }
        else {
            return false;
        }
    }

    // When the user clicks on div, open the popup

    function div_show(cid) {
        $.ajax({
            type: 'POST',
            url: 'http://localhost:3000/Admin/AdminConsultancy/AdminConsultancyUpdateGetData',
            data: {"cid": cid},
            dataType: 'json',
        }).done(function (data) {
            $('#getResponseid').html(data.Consultancy[0]._id);
            $('#getResponsecountry_name').html(data.Consultancy[0].country_name);
            $('#getResponserequirenment').html(data.Consultancy[0].requirenment);
            $('#getResponsedetail').html(data.Consultancy[0].detail);
            $('#getResponseimportant_link').html(data.Consultancy[0].important_link);
            $('#ima').html('<img height="75" width="75" src="/images/Consultancy_Flag/' + data.Consultancy[0].flage_image + '">');
        });
        document.getElementById('abc').style.display = "block";
        //console.log(data);

    }

    //Function to Hide Popup
    function div_hide() {
        document.getElementById('abc').style.display = "none";
    }


</script>

<pre id="getImages"></pre>
<% include partials/footer.ejs %>
