<!doctype html>
<% include partials/header.ejs %>


<body>

<% for(let i = 0; i < MoreLanguagedata.length; i++){ %>

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4"><img src="/images/Language_Flag/<%= MoreLanguagedata[i].flage_image %>"  style="height: 50px;width: 50px;"/> More Details About <%= MoreLanguagedata[i].Language_name %>
        <small></small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8" style="alignment: center">


            <div class="slider" id="main-slider" ><!-- outermost container element -->
                <div class="slider-wrapper"><!-- innermost wrapper element -->

                    <% for(let i = 0; i < LanguagedataImages.length; i++){ %>

                    <img src="/images/Language/<%= LanguagedataImages[i].images_name %>" alt="First" class="slide"  /><!-- slides -->
                    <%}%>
                </div>
            </div>

            <script>
                (function() {

                    function Slideshow( element ) {
                        this.el = document.querySelector( element );
                        this.init();
                    }

                    Slideshow.prototype = {
                        init: function() {
                            this.wrapper = this.el.querySelector( ".slider-wrapper" );
                            this.slides = this.el.querySelectorAll( ".slide" );
                            this.previous = this.el.querySelector( ".slider-previous" );
                            this.next = this.el.querySelector( ".slider-next" );
                            this.index = 0;
                            this.total = this.slides.length;
                            this.timer = null;

                            this.action();
                            this.stopStart();
                        },
                        _slideTo: function( slide ) {
                            var currentSlide = this.slides[slide];
                            currentSlide.style.opacity = 1;

                            for( var i = 0; i < this.slides.length; i++ ) {
                                var slide = this.slides[i];
                                if( slide !== currentSlide ) {
                                    slide.style.opacity = 0;
                                }
                            }
                        },
                        action: function() {
                            var self = this;
                            self.timer = setInterval(function() {
                                self.index++;
                                if( self.index == self.slides.length ) {
                                    self.index = 0;
                                }
                                self._slideTo( self.index );

                            }, 2500);
                        },
                        stopStart: function() {
                            var self = this;
                            self.el.addEventListener( "mouseover", function() {
                                clearInterval( self.timer );
                                self.timer = null;

                            }, false);
                            self.el.addEventListener( "mouseout", function() {
                                self.action();

                            }, false);
                        }


                    };

                    document.addEventListener( "DOMContentLoaded", function() {

                        var slider = new Slideshow( "#main-slider" );

                    });


                })();
            </script>


        </div>

        <div class="col-md-4">
            <h3 class="my-3">Requirement </h3>
            <%= MoreLanguagedata[i].requirenment %>

        </div>

    </div>
    <!-- /.row -->
    <h3 class="my-3">Project Details</h3>
    <ul>
        <%= MoreLanguagedata[i].detail %>

    </ul>
    <!-- Related Projects Row -->
    <h3 class="my-4" >Important Links</h3>

    <pre style="margin-bottom: 40px">
    <%= MoreLanguagedata[i].important_link %>
    </pre>

</div>
<!-- /.container -->
<%}%>

<% include partials/footer.ejs %>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>


